@media (min-width: 767px) {

    .section-wrapper {
        margin: 100px 0 1em 0;
    }

    .main-column {
        width: 68.75%;
        float: left;
    }

    .sidebar {
        width: 28.75%;
        float: right;
    }

}