@media (min-width: 500px) {

    /* ==========================================================================
       Sidebar
       ========================================================================== */
    .widget {
        width: 48.5%;
        float: left;
        clear: left;
        &:nth-of-type(2n) {
            float: right;
            clear: right;
        }
    }

    /* ==========================================================================
       Lagsida
       ========================================================================== */

    /* Spelarlista */
    .player-list__item {
        width: 33.33333%;
    }

}

@media (min-width: 767px) {

    /* ==========================================================================
       Globals
       ========================================================================== */
    
    /**
     * Typografi
     */
    h1, .h1 {
        font-size: 48px;
    }
    h2, .h2 {
        font-size: 34px;
    }
    h3, .h3 {
        font-size: 18px;
    }
    .wf-oswald-n7-active {
        h1, .h1 {
            font-size: 55px;
        }
        h2, .h2 {
            font-size: 36px;
        }
        h3, .h3 {
            font-size: 20px;
        }
    }

    /**
     * Layout
     */
    .section-wrapper {
        margin: 100px 0 16px 0;
    }

    .main-column {
        width: 68.75%;
    }

    /**
     * Helpers
     */
     .left {
        float: left;
    }
    .right {
        float: right;
    }
    
    /* ==========================================================================
       Header
       ========================================================================== */
    
    .site-header {
        padding-bottom: 0;
    }

    /**
     * Logga
     */
    .site-header__logo-wrapper {
        margin: .5em 0;
    }
    .site-header__logo-symbol {
        max-width: 80px;
    }
    .site-header__logo-text-short {
        display: none;
    }
    .site-header__logo-text-long {
        display: block;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
        .wf-oswald-n7-active & {
            font-family: 'Oswald';
            font-weight: 700;
            font-size: 46px;
        }
        &:hover {
            color: $blue;
        }
    }
    
    /**
     * Knapp för mobilmeny
     */
    .site-header__mobile-menu-button {
        display: none;
    }

    /**
     * Huvudmeny
     */
     .main-menu {
        display: block;
     }

     /**
      * Sekundärmeny
      */
    .secondary-menu {
        display: block;
    }

    /* ==========================================================================
       Footer
       ========================================================================== */

    .site-footer {
        margin-top: 80px;
    }
    .footer-menu__main-menu > li {
        width: 20%;
        float: left;
    }

    /* ==========================================================================
       Artikel
       ========================================================================== */
    .article__body {
        margin: 0 auto;
        max-width: 700px;
    }
    .article__infobox-area {
        @include clearfix;
        margin-left: -2.25%;
        .widget {
            margin: 0 2.25% 16px;
            width: 45%;
            float: left;
            clear: left;
        }
        .widget:nth-of-type(2n) {
            float: right;
            clear: right;
        }
    }

    /* ==========================================================================
       Page.php
       ========================================================================== */

    /* Breadcrumbs */
    .breadcrumbs {
        position: absolute;
    }

    /* ==========================================================================
       Lagsida
       ========================================================================== */

    /**
     * Spelarsida
     */
    .player {
        figure {
            margin-right: 16px;
            width: 47.5%;
        }
    }
    .player__facts {
        width: 47.5%;
    }
    .player__personal-info {
        width: 47.5%;
    }
    
    /* Spelarlista */
    .player-list__item {
        width: 25%;
    }

    /* ==========================================================================
       Sidebar
       ========================================================================== */

    .sidebar {
        width: 28.75%;
    }
    .widget {
        width: 100%;
        float: none;
        clear: none;
    }

    /* Undermeny */
    .sub-menu {
        display: block;
    }

}