@import '../../node_modules/normalize-scss/sass/normalize/_import-now';

/* ==========================================================================
   Variables
   ========================================================================== */

$blue: #2d68b2;
$light-blue: #cddcff;
$dark-blue: #2b3087;
$grey: #fcfcfc;

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin clearfix {
    &:after {
    content: "";
    display: table;
    clear: both;
    }
}

/* ==========================================================================
   Globals
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    background: $blue;
    font-size: 1em;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/**
 * Typografi
 */
h1, .h1 {
    font-size: 2em;
    margin: .5em 0;
    line-height: 1.2;
}
h2, .h2 {
    font-size: 1.5em;
}
h3, .h3 {
    font-size: 1em;
}

/**
 * Knappar och länkar
 */
a, a:visited {
    color: $blue;
}
a:hover {
    color: $dark-blue;
}

button,
.button {
    padding: .5em;
    display: inline-block;
    background: $blue;
    border: none;
    color: #fff;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    }
    
    &.button--white {
        background: white;
        color: $dark-blue;
    }
    &.button--dark {
        background: $dark-blue;
        color: white;
    }
    &.button--large {
        padding: .35em 1em;
        font-size: 1.125em;
    }
    &.button--is-icon {
        svg {
            vertical-align: text-bottom;
            width: 20px;
            height: 20px;
        }
        path {
            fill: white;
        }
    }
}

/**
 * Layout
 */
.site-width {
    margin: 0 auto;
    width: 95%;
    max-width: 1120px;
    @include clearfix;
}

.section-wrapper {
    margin: 1em 0;
}

main {
    background: white;
}

.main-column {}

.wide-column {
    width: 100%;
}

.inner {
    padding: .5em 1em;
}

.flex {
  display: flex;
}
.vertical-center {
    align-items: center;
}
.has-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

/**
 * Helpers
 */
.center-block {
    margin: 0 auto;
    display: block;
}

/* ==========================================================================
    Mobilmeny
   ========================================================================== */

$off-canvas-width: 250px;
.page-wrapper {
    position: relative;
    overflow: hidden;
}
.mobile-menu {
    position: fixed;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: $blue;
    top: 0;
    left: 0;
    width: $off-canvas-width;
    height: 100%;
    -webkit-transform: translateX(-$off-canvas-width);
    -ms-transform: translateX(-$off-canvas-width);
    transform: translateX(-$off-canvas-width);
    overflow-y: auto;
    box-shadow: inset -1px 0 5px black;
}
.mobile-menu__close-button {
    margin-bottom: .5em;
    float: right;
}
.page-content {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#canvas-content-overlay {
    position: fixed;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
}


body.mobile-menu-is-open {
    .mobile-menu {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .page-content {
        -webkit-transform: translateX($off-canvas-width);
        -ms-transform: translateX($off-canvas-width);
        transform: translateX($off-canvas-width);
    }
    #canvas-content-overlay {
        width: 100%;
        height: 100%;
    }
}

.mobile-menu__items-list {
    clear: both;
    ul {
        margin: 0;
        padding: 0;
    }
    & > ul {
        border-bottom: 1px solid white;
    }
    li {
        list-style: none;
        line-height: 1;
    }
    a {
        border-top: 1px solid white;
        padding: .8em 0;
        color: white;
        text-decoration: none;
        display: block;
    }
}
.mobile-menu__items-list__sub-menu {
    a {
        padding-left: 1em;
    }
}

/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
    padding: 10px 0;
    background: white;
}

/**
 * Logga
 */
.site-header__logo-wrapper {
    display: flex;
    flex: 1;
}
.site-header__logo-symbol {
    max-width: 44px;
    margin-right: 1em;
}
.site-header__logo-text-short {}
.site-header__logo-text-long {
    display: none;
}

/**
 * Knapp för mobilmeny
 */
.site-header__mobile-menu-button {
    
    svg {
        margin-right: .5em;
        path {
            fill: white;
        }
    }
}

/**
 * Huvudmeny
 */
.main-menu {
    display: none;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline-block;
    }
}
.main-menu__page-links {
    float: left;
}
.main-menu__social-links {
    float: right;
    .button:hover {
        background: $dark-blue;
    }
}
.main-menu__item {
    &:first-child a {
        border-left: 0;
    }
    .button {
        border-left: 1px solid white;
    }
}
.main-menu__item .button:hover,
.main-menu__item--current .button {
    background: $blue;
    color: white;
}

/**
 * Sekundärmeny
 */
.secondary-menu {
    display: none;
    ul {
        margin: 0;
        padding: 0;
        text-align: right;
    }
}
.secondary-menu__item {
    text-decoration: none;
    display: inline-block;
    font-size: 0.875em;
    &:after {
        content: '|';
    }
    &:last-child:after {
        content: '';
    }
    a {
        text-decoration: none;
    }
}

/* ==========================================================================
   Artikellista
   ========================================================================== */

.article-list {}
.article-list__article {
    p:last-of-type {
        margin-bottom: 0;
    }
}
.article-list__article__title {
    margin: 0;
    line-height: 1;
    a {
        color: black;
        text-decoration: none;
    }
}
.article-list__article__header {
    time {
        margin: 0 0 .5em 0;
        display: block;
        font-size: .8em;
    }
}
.article-list__separator {
    border-top: 1px solid $light-blue;
    border-bottom: none;
}

/* ==========================================================================
   Artikel
   ========================================================================== */
.article {}
.article__header {}
.article__featured-image-wrapper {
    margin: 0;
}
.article__title {
    text-align: center;
}
.article__preamble p {
    font-size: 1.25em;
}
.article__body {
    padding-bottom: 1em;
}
.article__inner {
    padding: 0 1em;
}
.article__footer {
    border-top: 1px solid rgba(0,0,0,.2);
}
.article__when-published {
    display: block;
}
.article__metadata {
    font-size: 0.875em;
    /* dt {
        float: left;
    }
    dd {
        float: left;
    } */
}


/* ==========================================================================
   Sidebar
   ========================================================================== */
.sidebar {
    //
}

/* Block */
.widget {
    margin-bottom: 1em;
    overflow: hidden;
    img {
        margin: 0 0 .5em 0;
    }
    p {
        margin: 0 0 0.571em 0;
        font-size: 0.875em;
    }
}
/* Elements */
.widget__title {
    margin: 0 0 0.667em;
    font-size: 24px;
    text-align: center;
}
.widget__inner {
    @extend .inner;
}
.widget__image {
    .widget--is-image & {
        margin-bottom: 0;
        display: block;
    }
}
.widget__cta {
    margin-top: .5em;
}

/* Modifiers */
.widget--light-blue {
    background: $light-blue;
    .widget__title {

    }
}
.widget--grey {
    background: $grey;
    border: 1px solid #ccc;
}

@import 'mq';