@import '../../node_modules/normalize-scss/sass/normalize/_import-now';

/* ==========================================================================
   Variables
   ========================================================================== */

$blue: #2d68b2;
$light-blue: #cddcff;
$dark-blue: #0A3B7B;
$grey: #eaeaea;

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin clearfix {
    &:after {
    content: "";
    display: table;
    clear: both;
    }
}

/* ==========================================================================
   Globals
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    background: $blue;
    font-size: 1em;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding-left: 20px;
}


/**
 * Tabeller
 */
table {
    margin: 0 0 20px 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
thead {
    background: $blue;
    color: white;
    border-bottom: 1px solid $blue;
}
tbody tr {
    background: white;
    &:nth-child(2n) {
        background: $grey;
    }
}
td, th {
    padding: 5px;
}
th {
    text-align: left;
}

/**
 * Färger
 */
.blue {
    background-color: $blue;
}
.light-blue {
    background-color: $light-blue;
}
.dark-blue {
    background-color: $dark-blue;
}
.white {
    background-color: white;
}
.text-blue {
    color: $blue;
}
.text-light-blue {
    color: $light-blue;
}
.text-dark-blue {
    color: $dark-blue;
}
.text-white {
    color: white;
}

/**
 * Typografi
 */
h1, .h1, h2, .h2, h3, .h3 {
    word-wrap: break-word;
    line-height: 1;
}
h1, .h1 {
    font-size: 32px;
    margin: 8px 0;
    line-height: 1.2;
}
h2, .h2 {
    font-size: 24px;
}
h3, .h3 {
    margin: 16px 0;
    font-size: 16px;
}
.wf-oswald-n7-active {
    h1, .h1 {
        font-family: 'Oswald';
        font-size: 38px;
        font-weight: 700;
    }
    h2, .h2 {
        font-family: 'Oswald';
        font-weight: 700;
    }
    h3, .h3 {
        font-family: 'Oswald';
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
    display: block;
}

/**
 * Knappar och länkar
 */
a, a:visited {
    color: $blue;
}
a:hover {
    color: $dark-blue;
}

button,
a.button,
.button {
    padding: 8px;
    display: inline-block;
    background: $blue;
    border: none;
    color: #fff;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    }
    
    &.button--white {
        background: white;
        color: $dark-blue;
        &:hover {
            background: #eaeaea;
        }
    }
    &.button--dark {
        background: $dark-blue;
        color: white;
    }
    &.button--large {
        padding: .35em 1em;
        font-size: 1.125em;
    }
    &.button--block {
        display: block;
    }
    &.button--is-icon {
        svg {
            vertical-align: text-bottom;
            width: 20px;
            height: 20px;
        }
        path {
            fill: white;
        }
    }
}

/**
 * Layout
 */
.site-width {
    margin: 0 auto;
    width: 95%;
    max-width: 1120px;
    @include clearfix;
}

.section-wrapper {
    margin: 1em 0;
}

main {
    margin-bottom: 16px;
    overflow: hidden;
    background: white;
}

.main-column {}

.wide-column {
    width: 100%;
}

.inner {
    padding: 16px;
    @include clearfix;
}

.flex {
  display: flex;
}
.vertical-center {
    align-items: center;
}
.has-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

/**
 * Helpers
 */
.center-block {
    margin: 0 auto;
    display: block;
}

/* ==========================================================================
    Mobilmeny
   ========================================================================== */

$off-canvas-width: 250px;
.page-wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
.mobile-menu {
    position: fixed;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: $blue;
    top: 0;
    left: 0;
    width: $off-canvas-width;
    height: 100%;
    -webkit-transform: translateX(-$off-canvas-width);
    -ms-transform: translateX(-$off-canvas-width);
    transform: translateX(-$off-canvas-width);
    overflow-y: auto;
    box-shadow: inset -1px 0 5px black;
}
.mobile-menu__close-button {
    margin-bottom: .5em;
    float: right;
}
.page-content {
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#canvas-content-overlay {
    position: fixed;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
}


body.mobile-menu-is-open {
    .mobile-menu {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .page-content {
        -webkit-transform: translateX($off-canvas-width);
        -ms-transform: translateX($off-canvas-width);
        transform: translateX($off-canvas-width);
    }
    #canvas-content-overlay {
        width: 100%;
        height: 100%;
    }
}

.mobile-menu__items-list {
    clear: both;
    ul {
        margin: 0;
        padding: 0;
    }
    & > ul {
        border-bottom: 1px solid white;
    }
    li {
        list-style: none;
        line-height: 1;
    }
    a {
        border-top: 1px solid white;
        padding: .8em 0;
        color: white;
        text-decoration: none;
        display: block;
    }
}
.mobile-menu__items-list__sub-menu {
    a {
        padding-left: 1em;
    }
}

/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
    padding: 10px 0;
    background: white;
}

/**
 * Logga
 */
.site-header__logo-wrapper {
    display: flex;
    flex: 1;
}
.site-header__logo-symbol {
    max-width: 44px;
    margin-right: 1em;
}
.site-header__logo-text-short {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    .wf-oswald-n7-active & {
        font-family: 'Oswald';
        font-weight: 700;
        font-size: 1.75em;
    }
}
.site-header__logo-text-long {
    display: none;
}

/**
 * Knapp för mobilmeny
 */
.site-header__mobile-menu-button {
    
    svg {
        margin-right: .5em;
        path {
            fill: white;
        }
    }
}

/**
 * Huvudmeny
 */
.main-menu {
    display: none;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline-block;
    }
}
.main-menu__page-links {
    float: left;
}
.main-menu__social-links {
    float: right;
    .button:hover {
        background: $dark-blue;
    }
}
.main-menu__item {
    &:first-child a {
        border-left: 0;
    }
    .button {
        border-left: 1px solid white;
    }
}
.main-menu__item .button:hover,
.main-menu__item--current .button {
    background: $blue;
    color: white;
}

/**
 * Sekundärmeny
 */
.secondary-menu {
    display: none;
    ul {
        margin: 0;
        padding: 0;
        text-align: right;
    }
}
.secondary-menu__item {
    text-decoration: none;
    display: inline-block;
    font-size: 0.875em;
    &:after {
        content: '|';
    }
    &:last-child:after {
        content: '';
    }
    a {
        text-decoration: none;
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
    padding-top: 20px;
    border-top: 1px solid white;
}
.footer-menu {}
.footer-menu__main-menu {
    @include clearfix;
    margin: 0 0 1em 0;
    padding: 0;
}
.footer-menu__main-menu > li {
    margin-bottom: 1em;
    list-style: none;
    display: block;
    width: 50%;
    float: left;
}
.footer-menu__main-menu a {
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.footer-menu__main-menu__sub-menu {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
    a {
        font-size: 0.875em;
    }
}

/* ==========================================================================
   Artikellista
   ========================================================================== */

.article-list {}
.article-list__article {
    p:last-of-type {
        margin-bottom: 0;
    }
    img {
        margin-top: 16px;
    }
}
.article-list__article__title {
    margin: 0;
    line-height: 1;
    a {
        color: black;
        text-decoration: none;
    }
}
.article-list__article__header {
    time {
        margin: 0 0 .5em 0;
        display: block;
        font-size: .8em;
    }
}
.article-list__separator {
    border-top: 1px solid $light-blue;
    border-bottom: none;
}

/* ==========================================================================
   Artikel
   ========================================================================== */
.article {}
.article__header {}
.article__featured-image-wrapper {
    margin: 0;
}
.article__title {
    text-align: center;
}
.article__preamble p {
    font-size: 1.25em;
}
.article__body {
    padding-bottom: 1em;
}
.article__inner {
    padding: 0 16px;
}
.article__infobox-area {
    .widget {
        width: 100%;
    }
}
.article__footer {
    border-top: 1px solid rgba(0,0,0,.2);
}
.article__when-published {
    display: block;
}
.article__metadata {
    margin: 1em 0;
    padding: 0;
    font-size: 0.875em;
    li {
        margin: .5em 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        svg {
            margin-right: .5em;
        }
    }
}

.wp-caption {
    width: 100% !important;
}

/* ==========================================================================
   Page.php
   ========================================================================== */

/* Breadcrumbs */
.breadcrumbs {
    margin-top: 10px;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        font-size: 0.875em;
        color: white;
        &:after {
            content: ' »';
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* ==========================================================================
   Lagsida
   ========================================================================== */

/* Spelarlista */
.player-list {
    margin: 0;
    padding: 0;
    @include clearfix;
}
.player-list__item {
    width: 50%;
    float: left;
    display: block;
    figure {
        margin: 0;
        padding: 4px;
    }
    figcaption {
        margin-top: 5px;
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }
}

/**
 * Spelarsida
 */
.player {
    figure {
        margin: 0 0 16px 0;
        img {
            margin: 0 auto;
            display: block;
        }
    }
}
.player__image {
    //float: left;
}
.player__facts {
    //float: right;
}
.player__personal-info {
    float: none;
    clear: both;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
.sidebar {
    //
}

/* Undermeny */
.sub-menu {
    display: none;
}
.sub-menu ul {
    margin: 0;
    padding: 0;
}
.sub-menu ul ul  {
    display: none;
    .button {
        padding-left: 1.5em;
    }
}
.sub-menu li.current > ul {
    display: block;
}
.sub-menu li.current > .button {
    background: #eaeaea;
}
.sub-menu__item {
    background: white;
    list-style: none;
}
.sub-menu__item--header {
    border-bottom: none;
    font-size: 1.125em;
    &:hover {
        color: white;
        background: $blue;
    }
}
.sub-menu__item .button {
    text-decoration: none;
    color: $light-blue;
    border-bottom: 1px solid white;
    &:hover {
        color: $dark-blue;
        background: $light-blue;
        box-shadow: none;
    }
}

/* ==========================================================================
   Widgets
   ========================================================================== */

/* Block */
.widget {
    margin-bottom: 16px;
    overflow: hidden;
    font-size: 14px;
    img {
        margin: 0 0 8px 0;
    }
    p {
        margin: 0 0 16px 0;
    }
}
/* Elements */
.widget__title {
    margin: 0 0 16px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.wf-oswald-n7-active {
    .widget__title {
        font-size: 24px;
        font-family: 'Oswald';
        font-weight: 700;
    }
}
.widget__inner {
    @extend .inner;
}
.widget__image {
    .widget--is-image & {
        margin-bottom: 0;
        display: block;
    }
}
.widget__cta {
    margin-top: 8px;
}

/* Modifiers */
.widget--light-blue {
    background: $light-blue;
    .widget__title {

    }
}
.widget--grey {
    background: $grey;
    border: 1px solid #ccc;
}
.widget--white {
    background: white;
}

/**
 * Game widget
 */
.game-widget__league-name {
    margin-bottom: 8px;
    text-align: center;
    display: block;
}
.game-widget__home-team,
.game-widget__away-team {
    width: 47.5%;
    word-wrap: break-word;
}
.game-widget__result {
    margin: 8px 0;
    text-align: center;
    display: block;
    color: $dark-blue;
    .wf-oswald-n7-active & {
        font-family: 'Oswald';
    }
}
.game-widget__home-team {
    float: left;
}
.game-widget__away-team {
    float: right;
}
.game-widget__team-name {
    display: block;
    text-align: center;
}
.game-widget__game-information {
    margin-top: .5em;
    float: none;
    clear: both;
    text-align: center;
}

/**
 * Sökwidget
 */
.search-form {
    display: flex;
}
.search-form__field {
    flex: 3;
    padding: 8px;
    border: 1px solid $grey;
    &:focus {
        outline: 1px solid $blue;
    }
}
.search-form__submit {
    flex: 1;
}

@import 'mq';